.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #777;
}

.cabecalho h2 {
  font-size: 1.2rem;
}

.conteudo {
  padding: 25px;
  height: 100%;

}