.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #777;
}

.cabecalho a {
  background-color: crimson;
  padding: 5px 12px;
  border-radius: 5px;
  height: 2rem;
  line-height: 1.5rem;
}

.cabecalho h2 {
  font-size: 1.2rem;
}

.conteudo {
  padding: 25px;
  height: 100%;

}